@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(225, 225, 187);
    font-family: "Comic Sans MS", sans-serif;
}

.contenedor{
    display: grid;
}

header{
    display: flex;
    justify-content: center;
}

header .name{
    font-family: "Hurricane", cursive;
    font-size: 60px;
}

section .subtitle{
    display: flex;
}

section .description{
    text-align: center;
}

.logo{
    display: flex;
}

.img_logo{
    width: 100px;
}

.contenedor .menu{
    display: flex;
    justify-content: space-around;
}
section .item{
    background-color: white;
    display: block;
    text-align: center;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.item .qty_item{
    width: 30px;
    text-align:end;
}

.img_menu{
    width: 150px;
    margin: 5px;
}

footer{
    justify-content: center;
}

.icon_social{
    width: 30px;
}